<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>유저 선호도 조사</h1>
  {% if request.user.is_authenticated %}
    <p>로그인 되어있음</p>
  {% else %}
    <p>로그인 필요</p>
  {% endif %}
  <hr>
  <p>장르 선택</p>
  {% for genre in genres %}
    {% if genre %}
      <form class="genre-like-forms" data-id="{{ genre.pk }}" data-name="{{ genre.name }}">
        {% csrf_token %}
        {% if request.user in genre.like_users.all %}
          <input type="submit" value="{{ genre.name }} 취소" id="like-{{ genre.pk }}">
        {% else %}
          <input type="submit" value="{{ genre.name }} 선택" id="like-{{ genre.pk }}">
        {% endif %}
      </form>
    {% endif %}
  {% endfor %}
  <hr>
  <p>배우 선택</p>
  {% for actor in actors %}
    {% if actor %}
      <form class="actor-like-forms" data-id="{{ actor.pk }}" data-name="{{ actor.name_en }}">
        {% csrf_token %}
        {% if request.user in actor.like_users.all %}
          <input type="submit" value="{{ actor.name_en }} 취소" id="like-{{ actor.pk }}">
        {% else %}
          <input type="submit" value="{{ actor.name_en }} 선택" id="like-{{ actor.pk }}">
        {% endif %}
      </form>
    {% endif %}
  {% endfor %}
  <hr>
  <p>영화 선택</p>
  {% for movie in movies %}
    {% if movie %}
      <form class="movie-like-forms" data-id="{{ movie.pk }}" data-name="{{ movie.title }}">
        {% csrf_token %}
        {% if request.user in movie.like_users.all %}
          <input type="submit" value="{{ movie.title }} 취소" id="like-{{ movie.pk }}">
        {% else %}
          <input type="submit" value="{{ movie.title }} 선택" id="like-{{ movie.pk }}">
        {% endif %}
      </form>
    {% endif %}
  {% endfor %}

</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const genreForms = document.querySelectorAll('.genre-like-forms')
  const actorForms = document.querySelectorAll('.actor-like-forms')
  const movieForms = document.querySelectorAll('.movie-like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  function getLikes(formType, url_pattern) {
    formType.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
  
        const id = event.target.dataset.id
        const name = event.target.dataset.name
        
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/${url_pattern}/${id}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
  
            const isLiked = response.data.is_liked
            const LikeBtn = document.querySelector(`#like-${id}`)
  
            if (isLiked === true) {
              LikeBtn.value = `${name} 취소`
            } else {
              LikeBtn.value = `${name} 선택`
            }
            // genreLikeBtn.value = isLiked ? '좋아요 취소' : '좋아요'
          })
          .catch((error) => {
            console.log(error)
          })      
      })
    })
  }

  getLikes(genreForms, 'movies/genres')
  getLikes(actorForms, 'movies/actors')
  getLikes(movieForms, 'movies')









  {% comment %} forms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()

      const genreId = event.target.dataset.genreId
      const actorId = event.target.dataset.actorId
      const movieId = event.target.dataset.movieId

      const genreName = event.target.dataset.genreName
      const actorName = event.target.dataset.actorName
      const movieTitle = event.target.dataset.movieTitle
      
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/movies/genres/${genreId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {

          const genre_isLiked = response.data.genre_is_liked
          const genreLikeBtn = document.querySelector(`#like-${genreId}`)

          if (genre_isLiked === true) {
            genreLikeBtn.value = `${genreName} 취소`
          } else {
            genreLikeBtn.value = `${genreName} 선택`
          }
          // genreLikeBtn.value = isLiked ? '좋아요 취소' : '좋아요'
        })
        .catch((error) => {
          console.log(error)
        })

    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/movies/actors/${actorId}/like/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {

        const actor_isLiked = response.data.actor_is_liked
        const actorLikeBtn = document.querySelector(`#like-${actorId}`)

        if (actor_isLiked === true) {
          actorLikeBtn.value = `${actorName} 취소`
        } else {
          actorLikeBtn.value = `${actorName} 선택`
        }
        // genreLikeBtn.value = isLiked ? '좋아요 취소' : '좋아요'
      })
      .catch((error) => {
        console.log(error)
      })

    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/movies/${movieId}/like/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {

        const movie_isLiked = response.data.movie_is_liked

        const movieLikeBtn = document.querySelector(`#like-${movieId}`)

        if (movie_isLiked === true) {
          movieLikeBtn.value = `${movieName} 취소`
        } else {
          movieLikeBtn.value = `${movieName} 선택`
        }
        // genreLikeBtn.value = isLiked ? '좋아요 취소' : '좋아요'
      })
      .catch((error) => {
        console.log(error)
      })
    })
  }) {% endcomment %}
</script>

</html>