{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>이런 영화는 어때요?</h1>
  <hr>
  {% if request.user.is_authenticated %}
    {% for movie in recommended_movies %}
      <p>제목 : <a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></p>
      <p>장르 : 
        <span>
          {% for genre in movie.genres.all %}
          *{{ genre.name }} 
          {% endfor %}
        </span>
      </p>
      <p>평점 : {{ movie.vote_average }}</p>
      <hr>
    {% endfor %}
  {% endif %}
{% endblock %}
